<footer class="footer">
  <div class="container py-2 text-center">
    <div class="text-muted mt-1">UOW Event Booking System</div>
    <div class="text-muted mb-1">Atom Industry © 2018</div>
  </div>
</footer>