<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register - Event Booking System</title>
  <%- include partials/html-head %>
</head>

<body>
  <%- include partials/navbar %>

    <!-- Begin page content -->
    <main class="container pre-register big-font">
      <div class="row justify-content-center fix">
        <div class="col-10 col-md-6 col-lg-5 align-self-center">
          <!-- white block -->
          <div class="row border rounded bg-white p-sm-5">
            <div class="col mb-3 align-self-center">
              <header class="title text-center mb-3">Register As</header>
              <a href="/student-register" class="btn btn-primary btn-block">Student</a>
              <a href="/staff-register" class="btn btn-primary btn-block">Staff</a>
            </div>
          </div>

        </div>
      </div>
    </main>

    <!-- Sticky Footer -->
    <%- include partials/footer %>

      <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <%- include partials/html-scripts %>
</body>

</html>