<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Register - Event Booking System</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
	 crossorigin="anonymous">
	<!-- Custom styles for this template -->
	<link href="style.css" rel="stylesheet">
</head>

<body>

	<header>
		<!-- Fixed navbar -->
		<nav class="p-3 navbar navbar-expand-md navbar-light fixed-top bg-white">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item home">
							<a class="nav-link" href="./index.ejs">Home</a>
						</li>
					</ul>

					<!-- Search bar -->
					<form class="form-inline ml-auto mr-2 mt-2 mt-md-0">
						<div class="input-group">
							<input class="form-control form-control-sm" type="text" placeholder="Search" aria-label="Search">
							<div class="input-group-append">
								<button class="btn btn-sm" type="submit">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</form>

					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link ml-2" href="#">Register</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Sign In</a>
						</li>
					</ul>
				</div>

			</div>
		</nav>
	</header>

	<!-- Begin page content -->
	<main class="container register big-font">
		<div class="row justify-content-center">
			<div class="col-8 col-md-6 col-lg-4 align-self-center">
				<header class="title text-center mb-3">Register</header>
				<form>
					<div class="form-group">
						<label for="username" class="sr-only">Username</label>
						<input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
					</div>

					<div class="form-group">
						<label for="email" class="sr-only">Email</label>
						<input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
					</div>

					<div class="form-group">
						<label for="password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="password" placeholder="Password" required>
					</div>

					<div class="form-group">
						<label for="confPassword" class="sr-only">Confirm password</label>
						<input type="password" class="form-control" id="confPassword" placeholder="Confirm password" required >
					</div>
					<button type="submit" class="btn btn-primary btn-block">Register</button>
				</form>
			</div>
		</div>
	</main>

	<!-- Sticky Footer -->
	<footer class="footer mt-5">
		<div class="container py-2 text-center">
			<div class="text-muted mt-1">UOW Event Booking System</div>
			<div class="text-muted mb-1">Atom Industry © 2018</div>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>
	 <script type="text/javascript" src="register-form.js"></script>
</body>

</html>